show.js.coffee
<p>{{name}}</p>

{{view Ember.Select
  prompt="Fem-level?"
  content=femLevels
  optionValuePath="content.level"
  optionLabelPath="content.title"
  value=fem_level }}

<br>

<button
  {{bind-attr class="isDirty:visible:hidden"}}
  {{action 'save'}}>Save</button>

{{#link-to 'artists.show' prev}}<<{{/link-to}}
{{#link-to 'artists.index' }}Back to artists{{/link-to}}
{{#link-to 'artists.show' next}}>>{{/link-to}}
