show.js.coffee
<p>{{name}}</p>

{{view Ember.Select
  prompt="Fem-level?"
  content=femLevels
  optionValuePath="content.level"
  optionLabelPath="content.title"
  value=fem_level }}

<br>

<button
  {{bind-attr class="isDirty:visible:hidden"}}
  {{action 'save'}}>Save</button>
