/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.hidden {
  display: none;
}

.fem-level {
  background-color: #efefef;
  width: 400px;
  padding: 10px;
  margin: 10px;
  border: 2px solid transparent;
  cursor: pointer;
}


.fem-level.selected,
.fem-level:active {
  border: 2px solid #444;
}

.fem-level img {
  width: 400px;
  height: 300px;
}

.fem-level .text {
  display: block;
}

.next-artist {
  opacity: 0.5;
}

.next-artist:hover {
  opacity: 1;
}
